
@{
    ViewBag.Title = "MyView";
}

<h2>MyView</h2>
<p>Message: @ViewBag.Message</p>
<p>Message from derectly: @ViewBag.Date</p>
<div>Message from MyExampleController: @TempData["DirectlyToView"]</div>

